.porfolio__container{
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3,1fr);
}

.video__container{
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(2,1fr);
    border-radius: 2rem; 
    overflow: hidden; 
}

.porfolio__item{
   background: var(--color-bg-variant);
   padding: 1.3rem;
   border-radius: 2rem;
   border: 1px solid transparent;
   transition: var(--transition);
}


.porfolio__item:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.porfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.porfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.porfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.close-button{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.margin-right{
    padding: 1rem;
}



.Modal {
    position: absolute;
    top: 80px;
    left: 80px;
    right: 80px;
    bottom: 80px;

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2c2c6c;
    border-radius: 1rem;
    border: 1px solid var(--color-primary);
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }

.videoContainer{
    padding: 1rem;
    padding-bottom: 2rem;
    width: 40rem;
    height: 40rem;
    display: flex;
    background: red;
}

@media screen and (max-width: 1024px) {
    .porfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .video__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        border-radius: 2rem; 
        overflow: hidden; 
    }

}

@media screen and (max-width: 600px) {
    .porfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1.5rem;
        
    }

    .video__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 2rem; 
        overflow: hidden; 
    }

    /* .Modal {
        position: absolute;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
    
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #2c2c6c;
        border-radius: 1rem;
        border: 1px solid var(--color-primary);
      } */
}